h2 {
  text-align: center;
}
.form {
  width: 80%;
  margin: 0 auto;
  // background-color: orangered;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.cocktail {
  width: 80%;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  background-color: #fff4e6;

  &__img {
    width: 30%;
  }

  &__content-category {
    font-style: italic;
  }
}
